<tr>
  <td class="align-middle"><%= image_tag("#{badge.image}.jpg", size: '40x40') %></td>
  <td class="align-middle"><%= badge.name %> </td>


  <td class="align-middle">
    <%= link_to t('.delete'),
                admin_badge_path(badge),
                method: :delete,
                data: {confirm: t('.confirm')} %>
  </td>
</tr>