<div class="footer">
  <%= current_year %>, Anton Vpliasnkyi, <%= github_url('hunter298', 'test-guru') %><br>
  Project dedicated to creation and passing tests.<br>
  Created during course on <a href="http://thinknetica.com" target="_blank">ThinkNetica</a>
</div>