.nav.user {
  text-align: left;
}

.login.register {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 200px;
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
}

.logo {
  margin-top: 20px;
  font-size: xx-large;
  font-weight: bold;
  display: inline-block;
}